
@import "modules/_vars";
@import "modules/_navbar";
//do your improrts first, so that they are available evertywhere




//adding some css variables

body { 
    color: $main-color;
    background-color: $body-bg;}

h1, h2, h3 {
    color: $heading-color;
}
.panel {
    height: 80vh;
}
 .panel:nth-child(even) {
     background-color: salmon;
     color: white;
 }

 #to-top {
     position:fixed;
     bottom: 10px;
     right: 10px;
     display: none;
 }

 @import "modules/_footer";

